name: Svelte CI

on:
  push:
    branches: [ "main", "development"]
  pull_request:
    branches: [ "main", "development"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
      # classic npm problem, --legacy-peer-deps fixes the version diff problem
      # additionally making the vitest version matching with the browser
        run: npm install  --legacy-peer-deps
        run: npm install vitest@4.0.14 @vitest/browser@4.0.14 --save-dev

      - name: Install Playwright browsers
        run: npx playwright install 

      - name: Run build
        run: npm run build

      - name: Run tests
        run: npm test
