name: Svelte CI

on:
  push:
    branches: [ "main", "development"]
  pull_request:
    branches: [ "main", "development"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
      # classic npm problem, --legacy-peer-deps fixes the version diff problem
        run: npm install  --legacy-peer-deps 

      - name: Run build
        run: npm run build

      - name: Run tests
        run: npm test
